.taskSelectCheckbox input {
  margin: 0 0 7px 0;
  cursor: pointer;
}

.taskStatus {
  border: 1px solid rgb(7, 116, 143);
  border-radius: 50px;
  margin-top: 7px;
  color: rgb(7, 116, 143);
  width: 140px;
  text-align: center;
  margin-bottom: 15px;
}

.taskCreatedAt {
  border: 1px solid rgba(54, 158, 6, 0.904);
  border-radius: 50px;
  color: rgba(54, 158, 6, 0.904);
  width: 200px;
  text-align: center;
  margin-right: 7px;
  padding: 5px;
}

.taskDedline {
  border: 1px solid rgb(247, 35, 35);
  border-radius: 50px;
  color: rgb(247, 35, 35);
  width: 200px;
  text-align: center;
  padding: 5px;
}

.taskTitle {
  font-size: 27px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: myFont;
}

.taskEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.textBorder {
  border: 1px solid rgb(195, 237, 243);
  border-radius: 7px;
  padding: 12px;
}

.taskStatusCheckbox {
  display: flex;
  justify-content: space-between;
}


