.App {
  text-align: center;
}

body {
  background-color: rgb(195, 237, 243);
}

@font-face {
  font-family: myFont;
  src: url(./font/DancingScript-Bold.ttf);
}

.task-select-checkbox {
  margin-right: 15px;
}

.task {
  text-align: left;
}

h1 {
  padding: 25px;
  font-family: myFont;
  color: rgb(7, 116, 143);
}
