.App {
  font-family: myFont;

}

body {
  background-color: rgb(195, 237, 243);
}

@font-face {
  font-family: myFont;
  src: url(./font/DancingScript-Bold.ttf);
}



h1 {
  padding: 25px;
  text-align: center;
  /* font-family: myFont; */
  color: rgb(7, 116, 143);
}
